* {
  
}
.header-wrapper {
  width: 100%;
  height: 97px;
  background-color: #721d08;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 5px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation-wrapper {
      display: flex;
      justify-content: space-between;
      color: white;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      width: 30%;
      font-family: Montserrat;
      p{
      cursor: pointer;
      }
    }
  }
}
