.login-page-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .image-wrapper {
    width: 90%;
    height: 90%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .login-container {
    position: absolute;
    width: 40%;
    height: 80%;
    align-self: flex-start;
    top: 80px;
    background-color: #721d08;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome-message {
      width: 50%;
      color: white;
      font-weight: 700;
      font-style: Bold;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
      height: 50%;
      input {
        background-color: transparent;
        text-decoration: none;
        border-color: transparent;
        color: white;
        width: 100%;
      }
      input:focus {
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: white;
      }
      .input-container {
        border-bottom: 2px solid white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 20%;
        .img-container {
          height: 70%;
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 30px;
          }
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .login-button {
          border: transparent;
          width: 75%;
          height: 74px;
          border-radius: 15px;
          background-color: #009c41;
          font-family: Montserrat;
          font-weight: 700;
          font-style: Bold;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          color: white;
          box-shadow: 0px 2px 5px black;
          cursor: pointer;
        }
      }
    }
    .bottom-text-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      .forgot-password{
        border-bottom: 1px solid white;
        cursor: pointer;
      }
      .signup-message-container {
        display: flex;
        gap: 5px;
        .signup-text {
          color: blue;
          border-bottom: 1px solid blue;
          cursor: pointer;
        }
      }
    }
  }
}
