.card-grill {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 500px;
  border-radius: 25px;
  background-color: #d9d9d9;
  overflow: hidden;
  .grill-owner-wrapper {
    width: 100%;
    padding-left: 10px;
    color: black;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .grill-content-wrapper {
    height: 100%;
    .grill-image-wrapper {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
    .grill-text-info-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .grill-name-wrapper {
        width: 90%;
        height: 10%;
        padding-left: 10px;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: black;
      }
      .grill-likes-wrapper {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        gap: 20px;
        color: black;
        .likes-icon-wrapper {
          width: 20%;
          text-align: center;
          font-weight: 700;
          p {
            border: 2px solid black;
            background-color: brown;
            padding: 5px;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }
      .grill-description-wrapper {
        width: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
