.signup-wrapper {
  position: relative;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-container {
    width: 90%;
    height: 90%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .signup-container {
    position: absolute;
    width: 40%;
    height: 70%;
    align-self: flex-start;
    top: 80px;
    background-color: #721d08;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .welcome-message {
      width: 80%;
      color: white;
      font-weight: 700;
      font-style: Bold;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
      height: 50%;
      input {
        background-color: transparent;
        text-decoration: none;
        border-color: transparent;
        color: white;
        width: 100%;
      }
      input:focus {
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: white;
      }
      .input-container {
        border-bottom: 1px solid white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 15%;
        .img-container {
          height: 70%;
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 30px;
            width: auto;
          }
        }
      }
    }
  }
  .signup-button-wrapper {
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
    button {
      border: transparent;
      width: 100%;
      height: 74px;
      border-radius: 15px;
      background-color: #009c41;
      font-family: Montserrat;
      font-weight: 700;
      font-style: Bold;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: white;
      box-shadow: 0px 2px 5px black;
      cursor: pointer;
    }
  }
  .error-message-wrapper {
    width: 50%;
    height: 10%;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    color: white;
  }
}
