.detailed-card-wrapper {
  top: 50px;
  position: absolute;
  border: 2px solid red;
  width: 80%;
  height: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #d9d9d9;
  .img-container {
    width: 48%;
    height: 90%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .info-container {
    width: 48%;
    height: 90%;
    .general-info-wrapper {
      display: flex;
      height: 50%;
      .general-info-container {
        border: 2px solid red;
        width: 50%;
        height: 100%;
        padding-left: 30px;
        .likes {
          display: flex;
          width: 70%;
          justify-content: flex-start;
          gap: 10px;
          align-items: center;
          .like-button-container {
            width: 30%;
            text-align: center;
            font-weight: 700;
            p {
              padding: 5px;
              border-radius: 15px;
              cursor: pointer;
            }
          }
        }
      }
      .buttons-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size: 48px;
            align-self: flex-end;
            margin: 0;
            cursor: pointer;
        }
        .grill-buttons-container{
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            width: 50%;
            height: 40%;
            button{
                border: transparent;
                height: 40%;
                border-radius: 10px;
                cursor: pointer;
                color: white;
            }
        }
      }
    }
    .description-container {
      border: 2px solid red;
      height: 50%;
      padding-left: 20px;
    }
  }
}
