*{
width: 100%;
height: 100vh;
padding : 0;
margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#root {
  border: 2px solid red;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.Home-wrapper{
  width: 100%;
  border: 2px solid black;
}
